Django==3.2.12
django-admin==2.0.1
django-detect==1.0.20
django-file==1.0.4
django-json-render==1.0.3
django-json-response==1.1.5
django-logit==1.1.3
django-models-ext==1.1.10
django-redis-connector==1.0.4
django-response==1.1.1
django-rlog==1.0.7
django-short-url==1.1.6
django-six==1.0.4
django-uniapi==1.0.10
django-we==1.5.6
